<div class="streams-carousel-container my-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Movies of the day</h2>
        <button class="btn btn-outline-light">View all</button>
    </div>
    <div class="position-relative mt-3">
        <button class="carousel-control-prev" (click)="scrollLeft()">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <div class="streams-carousel d-flex overflow-hidden" #carousel>
            <ng-content></ng-content>
        </div>
        <button class="carousel-control-next" (click)="scrollRight()">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>