<header class="header">
    <div class="header-wrapper d-flex flex-row justify-content-between">
        <div class="header-right-side">
            <div class="fw-bold fst-italic fs-4 me-3" routerLink="/home" routerLinkActive="active">
                Streamix
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active d-flex flex-row" aria-current="page" routerLink="/home"
                        routerLinkActive="active">
                        <div class="d-flex justify-content-center align-items-center me-2">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                        </div>
                        <div class="hidden-sm">
                            Inicio
                        </div>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex flex-row" routerLink="/busqueda" routerLinkActive="active">
                        <div class="d-flex justify-content-center align-items-center me-2">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
                        </div>
                        <div class="hidden-sm">
                            Busqueda
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link d-flex flex-row" routerLink="/peliculas" routerLinkActive="active">
                        <div class="d-flex justify-content-center align-items-center me-2">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="movie"></mat-icon>
                        </div>
                        <div class="hidden-sm">
                            Peliculas</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>